.notification__body {
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 40px;
  padding: 10px 20px;
  min-width: 200px;
  max-width: 400px;
  word-break: break-word;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.notification_status_info .notification__body {
  background-color: var(--brand-light-3);
}

.notification_status_success .notification__body {
  background-color: var(--status-ok-light-3);
}

.notification_status_error .notification__body {
  background-color: var(--status-error-light-3);
}

.notification__message {
  padding: 0 10px;
}
