.forum-topics-list {
  padding: 10px 20px;
}

.forum-topics-list__topic {
  padding: 15px 20px;
  border: 1px solid var(--brand);
  border-radius: 4px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.forum-topics-list__topic:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 0 1px var(--brand);
}

.forum-topics-list__topic-name {
  color: var(--dark-1);
  border-left: 3px solid var(--brand);
  padding: 5px 0 5px 15px;
  word-break: break-word;
}

.forum-topics-list__create-date {
  font-size: 12px;
  color: var(--dark-6);
  margin: 5px 0 0;
}
