.navbar {
  --navbar-padding-top: 5px;
  --navbar-item-size: 32px;
  --navbar-item-text-line-height: 14px;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--light-1);
  background-color: var(--brand);
  padding: var(--navbar-padding-top) 10px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.navbar_with-transition {
  transition: transform .3s ease-in-out;
}

.navbar_hidden {
  transform: translate(-50%, calc(-1 * (var(--navbar-padding-top) + var(--navbar-item-size) + var(--navbar-item-text-line-height))));
}

.navbar__link,
.navbar__button {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity .4s ease-in-out;
}

.navbar__link {
  text-decoration: none;
}

.navbar__button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
}

.navbar_hidden .navbar__link,
.navbar_hidden .navbar__button {
  opacity: 0;
}

.navbar__item-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--navbar-item-size);
  height: var(--navbar-item-size);
  transition: background-color .4s ease-in-out;
  border-radius: 10px;
}

.navbar__link_active .navbar__item-icon-wrap,
.navbar__link:hover .navbar__item-icon-wrap,
.navbar__button:hover .navbar__item-icon-wrap {
  background-color: var(--light-1);
}

.navbar__link_active .navbar__item-icon,
.navbar__link:hover .navbar__item-icon,
.navbar__button:hover .navbar__item-icon {
  stroke: var(--brand);
  fill: var(--brand);
}

.navbar__item-icon {
  width: 18px;
  height: 18px;
  transition: stroke .2s ease-in-out;
}

.navbar__separator {
  opacity: 1;
  height: 70%;
  width: 1px;
  margin: auto 0;
  background-color: rgba(255, 255, 255, 0.5);
  transition: opacity .4s ease-in-out;
}

.navbar_hidden .navbar__separator {
  opacity: 0;
}

.navbar__item-text {
  font-size: 10px;
  line-height: var(--navbar-item-text-line-height);
  color: var(--light-1);
  text-decoration: none;
}
