.avatar-form__box {
  position: relative;
  background-color: #bce;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #0009;
  background-image: linear-gradient(to right, #bdf7, #bdf7),
    linear-gradient(to right, #aaa 50%, #fff 50%),
    linear-gradient(to bottom, #aaa 50%, #fff 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 15px 15px;
}

.avatar-form__button {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 3px #000a;
  z-index: 10;
}

.avatar-form__button:hover {
  box-shadow: 0 0 5px #000a;
}

.avatar-form__avatar_dummy {
  filter: grayscale(1);
  mix-blend-mode: lighten;
  z-index: 5;
}
