/* stylelint-disable plugin/selector-bem-pattern, selector-max-id, selector-pseudo-class-blacklist, declaration-property-value-blacklist */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: var(--brand);
  text-decoration: none;
}

:root {
  --brand-light-1: #cfb6ee;
  --brand-light-2: #e0d6f4;
  --brand-light-3: #f3eeff;

  --yellow-light-1: #ffeac1;

  --status-error-light-3: #ffc8c8;

  --status-ok-light-3: #99d9c1;

  --gold: #f9de7c;
  --silver: #e0e3e6;
  --bronze: #e8c19b;
}

/* исправляют разъезжание разметки при
появлении сообщения об ошибке в формах */
.form-field_error_container {
  position: relative;
}

.form-field_error_message {
  position: absolute;
  right: 0;
}
