/* stylelint-disable plugin/selector-bem-pattern, selector-max-id */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: var(--brand);
  text-decoration: none;
}
